# This is Git's per-user configuration file.

[user]
    name = sholaday
    email = sholaday@users.noreply.github.com
[core]
	editor = vim
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[include]
    path = .gitalias

